:root {
    --comp-button-solid-surface: var(--color-pink-600);
    --comp-button-solid-surface-hover: var(--color-pink-500);   
    --comp-button-solid-content: var(--color-pink-400);
    --comp-button-solid-ring: transparent;   

    --comp-button-outline-surface: var(--color-white);
    --comp-button-outline-surface-hover: var(--color-gray-50);
    --comp-button-outline-content: var(--color-gray-900);
    --comp-button-outline-ring: var(--color-gray-300);
}

.dark {
  color-scheme: dark;
    --comp-button-solid-surface: var(--color-pink-600);
    --comp-button-solid-surface-hover: var(--color-pink-500);   
    --comp-button-solid-content: var(--color-pink-100);
    --comp-button-solid-ring: transparent;   
    
    --comp-button-outline-surface: color-mix(in oklch, var(--color-white) 10%, transparent);
    --comp-button-outline-surface-hover: color-mix(in oklch, var(--color-white) 20%, transparent);
    --comp-button-outline-content: var(--color-white);
    --comp-button-outline-ring: color-mix(in oklch, var(--color-white) 5%, transparent);
}

@theme inline {
    --color-button-solid-surface: var(--comp-button-solid-surface);
    --color-button-solid-surface-hover: var(--comp-button-solid-surface-hover );
    --color-button-solid-content: var(--comp-button-solid-content );
    --color-button-solid-ring: var(--comp-button-solid-ring);;

    --color-button-outline-surface: var(--comp-button-outline-surface);
    --color-button-outline-surface-hover: var(--comp-button-outline-surface-hover );
    --color-button-outline-content: var(--comp-button-outline-content );
    --color-button-outline-ring: var(--comp-button-outline-ring);
}