:root {
    --button-solid-surface: var(--color-pink-600);
    --button-solid-surface-hover: var(--color-pink-500);   
    --button-solid-content: var(--color-pink-400);
    --button-solid-border: var(transparent);   

    --button-outline-surface: var(--color-white);
    --button-outline-surface-hover: var(--color-gray-50);
    --button-outline-content: var(--color-gray-900);
    --button-outline-border: var(--color-gray-300);
}

.dark {
  color-scheme: dark;
    --button-solid-surface: val(--color-pink-600);
    --button-solid-surface-hover: var(--color-pink-500);   
    --button-solid-content: var(--color-pink-400);
    --button-solid-border: var(transparent);   
    
    --button-outline-surface: color-mix(in oklch, var(--color-white) 10%, transparent);
    --button-outline-surface-hover: color-mix(in oklch, var(--color-white) 20%, transparent);
    --button-outline-content: var(--color-white);
    --button-outline-border: color-mix(in oklch, var(--color-white) 5%, transparent);
}

@theme inline {
    --color-button-solid-surface: var(--sem-brand-surface);
    --color-button-solid-content: var(--sem-brand-content);
    --color-button-solid-border: var(--sem-brand-vivid);

    --color-button-outline-surface: var(--sem-neutral-surface);
    --color-button-outline-content: var(--sem-neutral-content);
    --color-button-outline-border: var(--sem-neutral-vivid);
}