@import "tailwindcss";
@import "./styles/primitives.css";
@import "./styles/semantics.css";
@import "./styles/components.css";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --sem-bg: var(--color-white);
    --sem-fg: var(--color-gray-900);
}

.dark {
    --sem-bg: var(--color-gray-900);
    --sem-fg: var(--color-gray-50);
}

@theme inline {
    --color-bg: var(--sem-bg);
    --color-fg: var(--sem-fg);
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}